{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    <a href="{{ path('new_product') }}" class="btn btn-warning">AJOUTER UN NOUVEAU PRODUIT</a>
    <a href="{{ path('new_productCategory') }}"class="btn btn-warning">AJOUTER UNE NOUVELLE CATEGORIE DE PRODUIT</a>
    <a href="{{ path('product_category') }}" class="btn btn-warning">Voir les categorie de produit</a>
    <a href="{{ path('product_sub_category_new') }}" class="btn btn-warning">AJOUTER UNE NOUVELLE SOUS CATEGORIE A UNE CATEGORIE</a>
{% endblock %}
