{% extends 'base.html.twig' %}

{% block title %}Hello AnimalCategoryController!{% endblock %}

{% block body %}
    <h5>Categories : </h5>
    {% for categorie in categories %}
        <p>{{ categorie.name }}</p>
    {% endfor %}

{% endblock %}
