{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% form_theme formProductCategory 'bootstrap_5_layout.html.twig' %}
{% block body %}
    <h1>Register</h1>

    {{ form_start(formProductCategory) }}
    {{ form_row(formProductCategory.name) }}
    <button type="submit" class="btn btn-success">Register</button>
    {{ form_end(formProductCategory) }}
{% endblock %}