{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    {% for product in products %}
        <p>{{ product.name }}</p>
        <img src="{{ vich_uploader_asset(product,'imageFile') }}" alt="">
    {% endfor %}
{#    {{ knp_pagination_render(products) }}#}
{% endblock %}
